<!--Navbar-->

<nav class="navbar navbar-expand-lg navbar-dark scrolling-navbar fixed-top">
 <div class="container">
  <!-- Navbar brand -->
  <a class="navbar-brand" href="#"><strong>Feelings</strong></a>

  <!-- Collapse button -->
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent-7">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Home
          
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'add-notes' %}">Add Notes</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="{% url 'notes' %}">Notes</a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item ">
        <a class="nav-link" href="#">My Favorites</a>
      </li>
       <li class="nav-item ">
        <a class="nav-link" href="#">Profile </a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">Logout </a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login </a>
      </li>
      {% endif %}
      </ul>
    <!-- Links -->
{% if user.is_authenticated %}
    <form class="form-inline">
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text"  name="q" placeholder="Search" aria-label="Search">
      </div>

    </form>
    {% endif %}
  </div>
  <!-- Collapsible content -->
</div>
</nav>
<!--/.Navbar-->


